OutputData/
*/*/__pycache__
*/.idea
Dateien/
Programm/.ipynb_checkpoints/
Programm/Notebooks/.ipynb_checkpoints/
Programm/Python/.ipynb_checkpoints/
Verschriftlichung/texfiles/*.aux
Verschriftlichung/*.toc
Ergebnisse/*.tif
Ergebnisse/*.h5
Ergebnisse/*.tiff
Ergebnisse/*.png
*/*.pdf
*/*/*/__pycache__/*.pyc
Verschriftlichung/*.aux
Verschriftlichung/*.bbl
Verschriftlichung/*.fls
Kurzzusammenfassung/main.synctex.gz
Verschriftlichung/main-blx.bib
Verschriftlichung/main.blg
Verschriftlichung/main.fdb_latexmk
Verschriftlichung/main.lof
Verschriftlichung/main.log
Verschriftlichung/main.lot
Verschriftlichung/main.out
Verschriftlichung/main.synctex.gz
Verschriftlichung/main.run.xml
Programm/.vscode/settings.json
Kurzzusammenfassung/Präsentation/Präsentation.pptx
.vscode/settings.json
