argon2-cffi==20.1.0
attrs
certifi==2020.6.20
cffi==1.14.2
coverage==5.3
cupy
cycler==0.10.0
fastrlock==0.5
h5py 
iniconfig 
Jinja2==2.11.2
kiwisolver==1.2.0
llvmlite==0.34.0
matplotlib 
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools 
nibabel 
numba 
numpy
olefile==0.46
packaging==20.4
Pillow
pluggy==0.13.1
py 
pycparser==2.20
pydicom 
pyparsing==2.4.7
pytest
python-dateutil==2.8.1
scipy 
sip==4.19.13
six==1.15.0
tifffile==2020.9.22
toml 
tornado==6.0.4
