cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.2
nibabel==3.1.0
numpy==1.19.0
packaging==20.4
Pillow==7.1.2
pymp-pypi==0.4.2
pyparsing==2.4.7
python-dateutil==2.8.1
read-roi==1.6.0
scipy==1.5.0
six==1.15.0
tifffile==2020.6.3
tqdm==4.46.1
