argon2-cffi
attrs
certifi
cffi
coverage
cupy==8.0.0
cycler
fastrlock
h5py 
iniconfig 
Jinja2
kiwisolver
llvmlite
matplotlib 
mkl-fft
mkl-random
mkl-service
more-itertools 
nibabel 
numba 
numpy
olefile
packaging
Pillow
pluggy
py 
pycparser
pydicom 
pyparsing
pytest
python-dateutil
scipy 
sip
six
tifffile
toml 
tornado
